body{
    background-color: #AEB8FE;
}
.main-cont{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.color{
    color: #27187E;
    font-size: 22px;
}
.cont{
    background-color: #F1F2F6;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow:  0 0 10px 0 #1a3e78;
    border: 1px solid;
    text-align: center;
    margin: 20px;
}
.gabarito{
    background-color: #1a3e78;
    margin: 32px;
    width: 40vh;
    height: 8vh;
}
.soma{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 6.6vh;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffcc10;
    border: 1px solid;
    transform: scale(1);
    margin-top: 10px;
}
.soma:hover{
    transform: scale(1.2);
    transition: 0.5s;
    border: 1px solid;
    box-shadow: #1a3e78 0px 5px, #1a3e7891 0px 10px, #1a3e7841 0px 15px;
}
.igual{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 6.6vh;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffcc10;
    border: 1px solid;
    transform: scale(1);
    margin-top: 10px;
}
.igual:hover{
    transform: scale(1.2);
    transition: 0.5s;
    border: 1px solid;
    box-shadow: #1a3e78 0px 5px, #1a3e7891 0px 10px, #1a3e7841 0px 15px;
}
.zero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21vh;
    height: 6.6vh;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffcc10;
    border: 1px solid;
    transform: scale(1);
    margin-top: 10px;
}
.zero:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border: 1px solid;
    box-shadow: #1a3e78 0px 5px, #1a3e7891 0px 10px, #1a3e7841 0px 15px;
}
.mais{
    display: flex;
    align-items: center;
    justify-content: center;
}